
<div controller="signupController" style="margin: 150px 400px 400px 400px;">
<form class="well form-horizontal">
<fieldset>

<!-- Form Name -->
<legend><center><h4>SignUp For Free !!!</h4></center></legend><br>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-3 control-label">First Name</label>  
  <div class="col-md-8 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text" ng-model="firstName">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-3 control-label" >Last Name</label> 
    <div class="col-md-8 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text" ng-model="lastName">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-3 control-label">Username</label>  
  <div class="col-md-8 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"></span>
  <input  name="user_name" placeholder="Username" class="form-control"  type="text" ng-model="userId">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-3 control-label" >Password</label> 
    <div class="col-md-8 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"></span>
  <input name="user_password" placeholder="Password" class="form-control"  type="password" ng-model="password">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-3 control-label">E-Mail</label>  
    <div class="col-md-8 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text" ng-model="mailId">
    </div>
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-5 control-label"></label>
  <div class="col-md-6"><br>
   <button type="button" class="btn btn-default" ng-click="doSignUp()"><span class="glyphicon glyphicon-ok"></span>SUBMIT</button>
   <button type="button" class="btn btn-default" ng-click="doCancel()"><span class="glyphicon glyphicon-remove"></span>CANCEL</button>
  </div>
</div>

</fieldset>
</form>
</div><!-- /.container -->

