<div class="container well" style="margin-top: 100px; width: 40%">
	<div class="col-md-12" role="form" name="inviteeForm"
		style="padding-left: 20px; font-size: 1.3em; border-bottom: 1px solid #ccc">Upload
		Photo</div>

	<!--<div id="guestList" class="col-md-9"
		style="padding-left: 4%; padding-right: 4%; padding-top: 2%"
		ng-repeat="photo in photos">
		<input type="file" class="form-control" id="photo"
			placeholder="Photo..." file-model="photo.file" required> 
			
	     <button class="ibtnDel btn btn-md btn-default "
			ng-click="deleteRow(photo)" value="Delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
			
	</div>-->
	
	<table id="guestList" class=" table order-list"
		ng-repeat="photo in photos">
		<tbody>
			<tr>
				<td class="col-sm-4">
					<div class="container">
						<div class="row">
							<div class="form-group">
								<div class="col-sm-6">
									<input type="file" class="form-control" id="photo"
									placeholder="Photo..." file-model="photo.file" required>
								</div>
								<div class="col-sm-3">
									<button class="ibtnDel btn btn-md btn-default "
									ng-click="deleteRow(photo)" value="Delete">
									<span class="glyphicon glyphicon-trash"></span> Delete
									</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	
	<div class="col-md-12" style="text-align: center; padding-top: 0%"">
		<button type="submit" class="btn btn-default"
		    ng-click="addPhotoRow()" >
			<span class="glyphicon glyphicon-plus"></span> Add File(s)
		</button>
		<!-- <button class="ibtnDel btn btn-md btn-default "
			ng-click="deleteRow(photo)" value="Delete">
			<span class="glyphicon glyphicon-trash"></span> Delete
		</button>-->
		<button type="button" class="btn btn-default" ng-click="uploadPhoto()"
			id="uploadphoto" value="Upload">
			<span class="glyphicon glyphicon-upload"></span> Upload
		</button>
		<button class="btn btn-default" ng-click="uploadedPhotos()">
			<span class="glyphicon glyphicon-upload"></span> Uploaded Photos
		</button>
	</div>
	<div class="col-md-12 alert alert-success" ng-show="photoUploaded">
		<strong>Success!</strong> Photos Uploaded!!
	</div>

</div>